* {
    font-family: 'Open Sans', sans-serif;

}

.top {}

.top-title {
    /* display: flex; */
    position: absolute;
    width: 525px;
    height: 228px;
    left: 20px;
    top: 150px;
    /* font-weight: 700; */
    font-size: 25px;
}

.top-subtitle {
    font-size: 60px;
}

.top-description {
    margin-top: 10px;
    margin-bottom: 20px;
}

.btn-primary {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 25px;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
    /* background: #005FAC; */
    margin-top: 20px;
}

/* middle-section */
.middle {
    display: flex;
    gap: 200px;
    margin-top: 0px;
}

.middle-title {
    width: 525px;
    height: 228px;
    left: 20px;
    top: 150px;
    /* font-weight: 700; */
    font-size: 25px;
    margin-top: 300px;
    text-align: left;
}

.middle-subtitle {
    font-size: 50px;
}

/*  */
.bottom {
    margin-top: 150px;
    margin-bottom: 150px;
    display: flex;
}

.bottom-title {
    margin-top: 130px;
    margin-bottom: 150px;
    /* font-weight: 700; */
    font-size: 42px;
    line-height: 47px;
    position: absolute;
    width: 1141px;
    /* height: 299.96px; */
    left: 200px;
    top: 1792.3px;
    text-align: center;
}

/* icon-title */
.plan-area {
    /* margin-left: 20px; */
    /* margin-right: 80px; */
    /* display: flex; */
}

.plan-description {
    margin-top: 250px;
    display: flex;

}

.plan-icon {
    margin-left: 150px;

}

.icon-title {
    font-weight: 700;
    font-size: 30px;

    /* text-align: left; */
    /* margin-right: 10px; */
    /* line-height: 35px; */
    /* text-align: center; */
    /* margin-right: 20px; */
}

.icon-description {
    font-weight: 500;
    font-size: 25px;
}

/* Watch-section */
.watch-title {
    /* background:  linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%); */
    display: flex;
    margin-left: 230px;
    margin-right: 230px;
}

.watch-gradient {
    /* vertical-align: top;
    /* align-items: initial; */
    text-align: left;
    position: absolute;
    width: 1140px;
    height: 300px;
    left: 230px;
    /* top: 2222.26px; */
    /* margin-top: 2222.26px; */
}

.btn-call {
    /* color: #FFFFFF; */
    color: #FD6E0A;
    font-weight: 700;
    font-size: 25px;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    border-radius: 5px;
    /* background: #FD6E0A; */
    background: #FFFFFF
        /* background: #005FAC; */
        margin-top: 20px;
}

.hand-watch {
    display: flex;
    text-align: left;
    margin-right:70px ;

}

.hand-ad {
    color: #FFFFFF;
    display: flex;
    /* font-size: 30px; */
    font-weight: 700;
    font-size: 40px;
}

.hand-text {
    /* text-align:left; */
    position: absolute;
    margin-left: 295px;
    margin-top: 25px;
}


/* Last title */
.last-title {
    /* display: flex;
    position: absolute;
    
    width: 1600px;
    height: 577px;
    left: 0px;
    top: 2652.26px; */

    /* Dark 01 */

    /* margin-top: 8000px; */

}
.last-background{
    margin-top: 150px;
    position: absolute;
width: 1600px;
height: 450px;
left: 0px;
top: 2652.26px;
background: #151414;
}
.future-adjust{
margin-top: 200px;
}
.future-up {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    position: absolute;
    width: 148px;
    height: 53px;
    left: 230px;
    top: 2782.26px;
    color: #f8f8f8;
    /* margin-bottom: 55px; */

}

.future-sub {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;

    position: absolute;
    width: 485px;
    height: 78px;
    left: 230px;
    top: 2851.26px;
    margin-top: 40px;
    color: #FFFFFF;
}

.last-icon {
    position: absolute;
    width: 186px;
    height: 146px;
    left: 230px;
    top: 2953.26px;
    margin-top: 20px;
}
.icon-color{
    color: #FFFFFF;
}

.subscribe {
    position: absolute;
    width: 325px;
    height: 204px;
    left: 1046px;
    top: 2782.26px;

}

.subscribe-all {
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;
margin-top: 50px;
    color: #FFFFFF;
    top: 2782.26px;

}

/* .subs-mail{
    position: absolute;
width: 325px;
height: 64px;
left: 1046px;
top: 2842.26px;
} */
.subs-mail{
    margin-bottom: 30px;
    /* font-size: 50px; */
    /* border-radius: 10px; */
    /* text-align: center; */
    border: none;
    font-weight: 700;
    font-size: 35px;
    /* margin-bottom: 50px; */
}
